.items{
    width: 200px;
    height: 270px;
}

#test{
    background-color: rgb(236, 227, 255);
    border-radius: 10px;
}

#test1{
    background-color: rgb(160, 133, 255);
    border-radius: 10px;
}

#test2{
    background-color: rgb(236, 227, 255);
    border-radius: 10px;
}

#test3{
    background-color: rgb(160, 133, 255);
    border-radius: 10px;
}

#test4{
    background-color: rgb(236, 227, 255);
    border-radius: 10px;
}

#test5{
    background-color: rgb(160, 133, 255);
    border-radius: 10px;
}

#test6{
    background-color: rgb(236, 227, 255);
    border-radius: 10px;
}

#test7{
    background-color: rgb(160, 133, 255);
    border-radius: 10px;
}

#test8{
    background-color: rgb(236, 227, 255);
    border-radius: 10px;
}

#test9{
    background-color: rgb(160, 133, 255);
    border-radius: 10px;
}

#googleLENS{
    width: 150px;
    height:150px;
}

.copy_right_footer{
    position:fixed;
    color:white;
    bottom: 0;
    width:100%;
    background-color:grey;
    line-height:3;
    text-align:center;
  }